table {
  width: 100vw;
  height: 92vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-collapse: collapse;
  border-top: 1px solid var(--cell-magin-color);
  border-left: 1px solid var(--cell-magin-color);
}

.grid-border {
  border: 1px solid var(--cell-magin-color);
}