button {
  margin: var(--margin-value);
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: var(--ui-main-color);
  border: 1px solid var(--ui-main-color);
}

button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: white;
}

button:disabled {
  cursor: not-allowed;
}
